<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kree.keehoo.yourcarinfo">

    <application
        android:name=".DaoGeneratedFiles.CarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AddCarActivity" />
        <activity android:name=".Activities.DisplayCarInfoActivity" />
        <activity android:name=".Activities.ReminderActivity" />

        <receiver android:name=".BroadCastReceivers.MyReceiver">
            <intent-filter>
                <action android:name="${applicationId}.BROADCAST_ACTION" />
            </intent-filter>

            android:enabled="true"
            android:exported="true"
        </receiver>
        <service
            android:name=".Services.NotificationService"
            android:exported="false"></service>
    </application>

</manifest>